.client {
  padding: 60px 0;

  @media screen and(min-width:1200px) {
    padding-top: $section-indent;
    padding-bottom: $section-indent;
  }

  background-color: $primary-white;
  &__subtitle {
    margin-bottom: 36px;
    @include font(700, 28px, 1.171, 0.03em);
    text-align: center;

    @media screen and(min-width:480px) {
      margin-bottom: 30px;
      @include font(700, 28px, 1.171, 0.03em);
    }

    @media screen and(min-width:1200px) {
      margin-bottom: 50px;
      @include font(700, 36px, 1.171, 0.03em);
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -30px;
    justify-content: center;

    @media screen and(min-width:320px) {
      margin-left: -15px;
    }

    @media screen and(min-width:480px) {
      margin-left: -30px;
      margin-bottom: -30px;
    }
  }
  &__item {
    margin-bottom: 30px;
    margin-left: 15px;

    // flex-basis: calc(100% / 2 - 30px);

    @media screen and(min-width:320px) {
      margin-left: 15px;
      margin-bottom: 15px;
      flex-basis: calc(100% / 2 - 15px);
    }

    @media screen and(min-width:480px) {
      margin-left: 30px;
      margin-bottom: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and(min-width:768px) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }
  &__link {
    height: 92px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include border($color-icon, 4%);

    fill: $color-icon;

    @extend %transition-bc-fill;
    &:hover,
    &:focus {
      border-color: $accent-color;
      fill: $accent-color;
    }

    @media screen and(min-width:320px) {
      width: 137px;
    }
    @media screen and(min-width:480px) {
      width: 210px;
    }

    @media screen and(min-width:768px) {
      width: 226px;
    }

    @media screen and(min-width:1200px) {
      width: 170px;
    }
  }
  &__icon {
    @include size(106px, 60px);
  }
}

// .clients {
//   &__list {
//     display: flex;
//   }
//   &__list {
//     .client {
//       + .client {
//         margin-left: 30px;
//       }
//     }
//   }
// }

// .client {
//   &__link {
//     @extend %flexible;

//     @include size(170px, 92px);

//     @include border($color-icon, 4%);

//     fill: $color-icon;

//     @extend %transition-bc-fill;

//     &:hover,
//     &:focus {
//       border-color: $accent-color;
//       fill: $accent-color;
//     }
//   }
// }

// .client {
//   &__icon {
//     @extend %flexible;

//     @include size(106px, 60px);
//   }
// }
