.hero {
  width: 100%;
  // max-width: 1600px;
  height: 400px;
  padding: 118px 0;

  text-align: center;

  @include color($bgc-hero-footer, $primary-white);

  @media screen and(min-width:1200px) {
    height: 600px;
    padding-top: 200px;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @include font(900, 21px, 1.615, 0.06em);

    @media screen and(min-width:480px) {
      @include font(900, 26px, 1.615, 0.06em);
      width: 360px;
    }

    @media screen and(min-width:1200px) {
      @include font(900, 44px, 1.363, 0.06em);
      width: 696px;
    }
  }
  &__overlays {
    // max-width: 1600px;
    min-height: 400px;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bannerMob1x.jpg);

    @include background-picture(cover);

    background-attachment: scroll;
    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bannerMob2x.jpg);
    }

    @media screen and(min-width:768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bannerTablet1x.jpg);
    }

    @media screen and(min-width:768px) and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bannerTablet2x.jpg);
    }

    @media screen and(min-width:1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bannerDesc1x.jpg);
    }

    @media screen and(min-width:1200px) and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bannerDesc2x.jpg);
    }
  }
}
