.page-footer {
  &__join {
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-left: 70px;
    @media screen and(min-width:768px) {
      display: inline-block;

      vertical-align: top;
      margin-top: 10px;
    }
  }
}

.join {
  &__subtitle {
    @include font(700, 14px, 1.142, 0.03em);
    text-align: center;
    color: $primary-white;
    margin-bottom: 20px;
  }
}
