.modal {
  background-color: $primary-white;
  @extend %shadow;
  min-width: 95%;

  @media screen and(min-width:480px) {
    min-width: 450px;
    min-height: 609px;
  }

  @media screen and(min-width:1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop {
  &__modal {
    @include position(absolute, 50%, 50%);

    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
}

.button-close {
  &__icon {
    @include size(11px, 11px);
  }
}
