// .project {
//   &__list {
//     @extend %flexible-jc;

//     margin-left: calc(-1 * #{$card-indent});
//     margin-bottom: calc(-1 * #{$card-indent});

//     flex-wrap: wrap;
//   }
// }

// .project {
//   &__item {
//     display: flex;

//     margin-left: $card-indent;
//     margin-bottom: $card-indent;

//     flex-basis: calc(100% / 3 - #{$card-indent});

//     @extend %transition-shadow;

//     &:hover,
//     &:focus {
//       @extend %shadow;
//     }
//   }
// }

// .card {
//   min-width: 370px;
//   &__thumb {
//     position: relative;
//     overflow: hidden;
//   }
//   &__overlay-description {
//     position: absolute;

//     @include size(100%, 100%);

//     padding: 63px 24px;

//     @include font(400, 18px, 1.555, 0.03em);

//     @include color($overlay-color, $primary-white);
//   }
//   &__content {
//     padding-top: 20px;
//     padding-right: 24px;
//     padding-bottom: 20px;
//     padding-left: 24px;

//     border-right: 1px solid $border-card;
//     border-bottom: 1px solid $border-card;
//     border-left: 1px solid $border-card;

//     background-color: $primary-white;
//   }
//   &__title {
//     @include font(700, 18px, 2, 0.06em);

//     color: getColor-text("primary");
//   }
//   &__text {
//     margin-top: 4px;

//     @include font(400, 16px, 1.875, 0.03em);

//     color: getColor-text("secondary");
//   }
// }

// .project {
//   &__link {
//     &:hover {
//       .card {
//         &__overlay-description {
//           display: block;

//           transform: translateY(-100%);
//           transition: 250ms $function;
//         }
//       }
//     }
//   }
// }

// !

.project {
  &__list {
    @extend %flexible-jc;

    margin-left: calc(-1 * #{$card-indent});
    margin-bottom: calc(-1 * #{$card-indent});

    flex-wrap: wrap;
    // &:last-child {
    //   @media screen and(min-width: 768px) {
    //     margin-right: 80px;
    //   }
    // }
  }
}

.project {
  &__item {
    display: flex;

    margin-left: $card-indent;
    margin-bottom: $card-indent;

    flex-basis: calc(100% / 3 - #{$card-indent});

    @extend %transition-shadow;

    &:hover,
    &:focus {
      @extend %shadow;
    }
  }
}

.card {
  min-width: 310px;

  @media screen and(min-width: 480px) {
    min-width: 450px;
  }

  @media screen and(min-width: 768px) {
    min-width: 354px;
  }

  @media screen and(min-width: 1200px) {
    min-width: 370px;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__overlay-description {
    position: absolute;

    @include size(100%, 100%);
    @include font(400, 18px, 1.555, 0.03em);

    @include color($overlay-color, $primary-white);

    padding: 5px 20px;

    @media screen and(min-width: 480px) {
      padding: 77px 24px;
    }

    @media screen and(min-width: 768px) {
      padding-top: 49px;
      padding-bottom: 49px;
    }

    @media screen and(min-width: 1200px) {
      padding-top: 63px;
      padding-bottom: 63px;
    }
  }
  &__content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    // flex-grow: 1;

    border-right: 1px solid $border-card;
    border-bottom: 1px solid $border-card;
    border-left: 1px solid $border-card;

    background-color: $primary-white;
  }
  &__title {
    @include font(700, 18px, 2, 0.06em);

    color: getColor-text("primary");
  }
  &__text {
    margin-top: 4px;

    @include font(400, 16px, 1.875, 0.03em);

    color: getColor-text("secondary");
  }
}

.project {
  &__link {
    &:hover {
      .card {
        &__overlay-description {
          display: block;

          transform: translateY(-100%);
          transition: 250ms $function;
        }
      }
    }
  }
}

.card {
  &__text {
    &--size--stretch {
      @media screen and(min-width: 768px) {
        margin-bottom: 36px;
      }

      @media screen and(min-width: 1200px) {
        margin-bottom: 0px;
      }
    }
  }
}

.project {
  &__list {
    @media screen and(min-width: 768px) {
      justify-content: left;
    }
  }
}
