.social-links {
  &__list {
    display: flex;
    justify-content: center;
    padding: 16px 0px 24px 0px;
  }
}

.social-links {
  &__list {
    .social-links {
      &__item + .social-links {
        &__item {
          margin-left: 10px;
        }
      }
    }
  }
}

.social-links {
  &__link {
    @extend %flexible;

    @include size(44px, 44px);

    border-radius: 50%;
    fill: $color-icon;

    @extend %transition-bc-fill;

    &:hover,
    &:focus {
      @include fill($accent-color, $primary-white);
    }
  }
  &__icon {
    @include size(20px, 20px);
  }
}

.social-links {
  &__list {
    &--footer {
      margin-bottom: 62px;
      padding: 0;
    }
  }
}

.social-links {
  &__link {
    &--footer {
      @include fill($color-circle-icon-bottom, $primary-white);

      &:hover,
      &:focus {
        @include fill($accent-color, $primary-white);
      }
    }
  }
}

.social-links {
  &__list {
    &--footer {
      @media screen and(min-width:768px) {
        margin-bottom: 0;
      }
    }
  }
}
