.font {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.583;
  letter-spacing: 0em;
}

.container {
  width: 100%;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;

  @media screen and(min-width: 480px) {
    max-width: 480px;
  }

  @media screen and(min-width: 768px) {
    max-width: 768px;
  }

  @media screen and(min-width: 1280px) {
    max-width: 1280px;
  }
}

.title {
  &--hidden {
    width: 1px;
    height: 1px;
    // @include size(1px, 1px);

    margin: -1px;
    visibility: hidden;
    position: absolute;
  }
}

.customer-reviews {
  padding-bottom: 86px;

  @media screen and(min-width:768px) {
    padding-bottom: 119px;
  }

  @media screen and(min-width:1280px) {
    padding-bottom: 132px;
  }
  &__list {
    text-align: center;
  }
  &__item {
    margin: 30px;
  }
}

// .slider__item {
//   position: relative;
// }

.quotes-wrapper {
  // border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  // width: 54px;
  // height: 40px;
}

.сustomer-reviews__icon--quotes {
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 1;
}

.customer-reviews__img {
  display: inherit;
  margin: 0 auto;

  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;

  margin-bottom: 29px;
}

.сustomer-reviews {
  &__wrapper {
    margin-bottom: 30px;
    width: 100%;

    height: 308px;
    text-align: center;

    background-color: #fafafa;
    @media screen and(min-width:768px) {
      background-color: #fafafa;
    }
  }
}

.сustomer-reviews {
  &__feedback {
    // position: relative;
    // width: 157px;
    // height: 239px;

    // margin: auto;
    padding: 43px 66px 26px 57px;
    // padding: 43px 0 26px 0;

    @media screen and(min-width:768px) {
      margin-bottom: 24px;
      // width: 544x;
      // height: 106px;
      padding: 30px 36px 28px 40px;
    }

    @media screen and(min-width:1280px) {
      margin-bottom: 15px;
    }
  }
}

.сustomer-reviews__location {
  text-align: center;
  margin-bottom: 50px;
}

.сustomer-reviews {
  &__more {
    display: block;
    text-align: center;
  }
}

.underline {
  position: relative;
  z-index: 3;
  // background-image: repeating-linear-gradient(
  //   to right,
  //   #e1e1e1 0%,
  //   #e1e1e1 100%
  // );
  // background-repeat: repeat-x;
  // background-position: 0 100%;
  // background-size: 100% 1px;
  // background-position: center bottom 0px;

  background: repeating-linear-gradient(
      to top,
      #e1e1e1 0 1px,
      transparent 1px 22px
    )
    left/100% 100% no-repeat;
}

.picture-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

// !
