.container {
  // width: 1200px;
  width: 100%;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;

  @media screen and(min-width: 320px) {
    max-width: 320px;
  }

  @media screen and(min-width: 480px) {
    max-width: 480px;
  }

  @media screen and(min-width: 768px) {
    max-width: 768px;
  }

  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }

  @media screen and(min-width: 1280px) {
    max-width: 1280px;
  }
}

.title {
  &--hidden {
    width: 1px;
    height: 1px;
    // @include size(1px, 1px);

    margin: -1px;
    visibility: hidden;
    position: absolute;
  }
}

.customer-reviews {
  padding-bottom: 86px;

  @media screen and(min-width:768px) {
    padding-bottom: 119px;
  }

  @media screen and(min-width:1280px) {
    padding-bottom: 132px;
  }
  &__list {
    text-align: center;
  }
  &__item {
    margin: 30px;
  }
  &__img {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    margin-bottom: 29px;

    @media screen and(min-width:768px) {
      margin-bottom: 19px;
    }

    @media screen and(min-width:1280px) {
      margin-bottom: 15px;
    }
  }

  &__feedback {
    // position: relative;
    // display: block;
    margin-bottom: 30px;
    text-align: center;

    // background-color: #fafafa;
    background-color: tomato;

    // @media screen and(min-width:768px) {
    //   margin-bottom: 24px;
    // }

    // @media screen and(min-width:1280px) {
    //   margin-bottom: 15px;
    // }
  }

  &__icon {
    &--quotes {
      // position: absolute;
      // top: 5px;
      // left: 5px;
      width: 54px;
      height: 40px;
    }
    &--markers {
      text-align: center;
      width: 32px;
      height: 4px;
    }
  }
}

// .сustomer-reviews__feedback {
//   display: block;
//   margin-bottom: 30px;

//   background-color: #fafafa;

//   @media screen and(min-width:768px) {
//     margin-bottom: 24px;
//   }

//   @media screen and(min-width:1280px) {
//     margin-bottom: 15px;
//   }
// }

.сustomer-reviews__location {
  text-align: center;
  margin-bottom: 50px;
}
