$primary-white: #ffffff;
$accent-color: #2196f3;
$black-color: #000000;
$address-subscribe-color: #ffffff99;
$bgc-team-portfolio-btn: #f5f4fa;
$bgc-hero-footer: #2f303a;
$line-header: #ececec;
$border-card: #eeeeee;
$active-accent: #188ce8;
$color-icon: #afb1b8;
$overlay-color: #2196f3e6;
$bgc-backdrop: #00000033;
$bgc-what-doing-title: #2f303acc;
$color-circle-icon-bottom: #ffffff1a;
$color-circle-icon-close: #e6e6e6;
$comment-placeholder: #bababa;
$form-border-input: #21212133;
$subscribe-border-input: #ffffff4d;
$box-shadow1: 0px 2px 1px 0px #00000033;
$box-shadow2: 0px 1px 1px 0px #00000024;
$box-shadow3: 0px 1px 3px 0px #0000001f;
$function: cubic-bezier(0.4, 0, 0.2, 1);
$section-indent: 94px;
$card-indent: 30px;

// $primary-text: #212121;
// $secondary-text: #757575;

// source maps :  function (map-get())

$color-text: (
  "primary": #212121,
  "secondary": #757575,
  "pseudo": #d3d3d3,
);

@function getColor-text($key) {
  @return map-get($color-text, $key);
}
